################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoAlgoImageProcessing/.vs/DemoAlgoImageProcessing/v15
